<div id="<%= dom_id technical %>">
  <p>
    <strong>name:</strong>
    <%= technical.name %>
  </p>
  <p>
    <strong>lastname:</strong>
    <%= technical.lastname %>
  </p>
  <p>
    <strong>phone:</strong>
    <%= technical.phone %>
  </p>
   <p>
    <strong>address:</strong>
    <%= technical.address %>
  </p>

</div>
